body > h1 {
color: gray;
text-align: center;
border-style: double;

}


input[type=text] {
    width: 20%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;


}

button {
  color: ;
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
  margin-left: auto;
}


div {
  font-family: arial;
  body: gray;
  text-align: right;
}
